<div class="register-container">
  <h2>Register</h2>

  <form (ngSubmit)="onSubmit()">
    <div>
      <label>First Name</label>
      <input type="text" [(ngModel)]="request.firstName" name="firstName" />
    </div>

    <div>
      <label>Last Name</label>
      <input type="text" [(ngModel)]="request.lastName" name="lastName" />
    </div>

    <div>
      <label>DNI</label>
      <input type="text" [(ngModel)]="request.dni" name="dni" />
    </div>

    <div>
      <label>Email</label>
      <input type="email" [(ngModel)]="request.email" name="email" />
    </div>

    <div>
      <label>Password</label>
      <input type="password" [(ngModel)]="request.password" name="password" />
    </div>

    <ul *ngIf="errorMessages.length" class="error">
      <li *ngFor="let msg of errorMessages">{{ msg }}</li>
    </ul>

    <button type="submit" [disabled]="loading">
      {{ loading ? 'Loading...' : 'Register' }}
    </button>
  </form>

  <p>Already have an account? <a routerLink="/login">Login</a></p>
</div>